
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Services</title>
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">  
</head>
<body class="body-service">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8 text-blue-700  "> SERVICES </h1>
    <p class="text-2xl font-semibold mb-2  py-8 text-blue-700 fontp" >Here are the series of workshops and trainings at Juan consluting. </p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="images/value.png" alt="Product 1 Image" class="w-full mb-4"> <h2 class="text-2xl font-semibold mb-2"> Self Leadership</h2>
        <p class="text-blue-800 font-bold py-3">The value master class ...
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p> </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="/images/eq.png" alt="Product 2 Image" class="w-full mb-4"> <h2 class="text-2xl font-semibold mb-2">Emotional Intelligence</h2>
        <p class="text-blue-800 font-bold py-3">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...</p> </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="/images/public speaking.png" alt="Product 3 Image" class="w-full mb-4"> <h2 class="text-2xl font-semibold mb-2"> Public speaking </h2>
        <p class="text-blue-800 font-bold py-3"> Learn the art and act of public speaking...
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p> </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img src="/images/love.png" alt="Product 4 Image" class="w-full mb-4"> <h2 class="text-2xl font-semibold mb-2"> Marraige Counselling (MSCLI)</h2>
        <p class="text-blue-800 font-bold py-3"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  </p> </div>
    </div>
  </div>


    <script  src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>
</body>
</html>