<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <link rel="icon" href="images/favicon.ico">
    <title>Welcome </title>
</head>
        <body>
<div class="text-center"> 
<img class=  "lg:w-4/6 lg:h-4/6 sm:w-4/6 sm:h-4/6 md:4/6 md:w-4/6  mx-auto py-10 "  src="/images/man-filling.png">
    <h3 class="text-blue-700 lg:text-3xl text-2xl font-bold px-6"> Let us know what you need at this stage of your Life </h3>
    <div class="flex justify-center my-14">
        <a href="/">
          <button class="bg-blue-700 text-white font-bold px-6 py-5 rounded-md hover:bg-blue-800 shadow-md animate-bounce">Start Survey</button>
        </a>
      </div>
    </div>
</div>



        </body>
        </html>