 
#pos{
    position: relative;
    bottom: 40px;
    }
    
      
      #nav-link{
        text-decoration: none;
        font-family: "Arvo" , 'san-serif';
    
    #marg{
      padding: 600px;
    }
    
    /*Services PAGE*/
    .body-service { background-color: rgb(0, 45, 128); /* Set background color */
      color: white; /* Set text color to white for contrast */ }
      
    }
    
    hr{
      border: 2px solid;
      width: 33.3%;
      
      
    }
    .fontp{
      font-family: "Finlandica", sans-serif;
    }

    .Mont{
        font-family: "Montserrat", sans-serif;
    }


    @media (min-width: 313px){
      .bigger{
    width: 100%;
      height: 100%; 
      object-fit: fill;
    }
  }
  
  .Special-Elite{
      font-family: "Special Elite", system-ui;
  font-weight: 400;
  }

  .border{
border-radius: 50%;

  }


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/**Services image*/


.star-wars:hover{

  animation: 5s linear infinite;

}

@keyframes star-wars{
from{
  transform: rotate(0deg) translateX(-20px) rotate(0deg);
}
to{
  transform: rotate(0deg) translateY(20px) rotate(0deg);
}
}





  
svg{
	height:100px;
	padding: 1rem;
  opacity:0.2;
  top:70%;
	left:50%;
  margin-top: 200px;
	transform:translate(-50%,-50%);
	position:relative;
}



    /** footer*/

    

.bg-layers {
    -webkit-animation: filter-animation 4s infinite;
    animation: filter-animation 4s infinite;
}

.bg-scale {
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-scale 8s infinite;
}
  
@-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(45deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg);
    }
}
  
@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(45deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
}

@keyframes filter-scale {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.4);
    }
    100% {
        transform:scale(.8);
    }
}