 
#pos{
    position: relative;
    bottom: 40px;
    }
    
      
      #nav-link{
        text-decoration: none;
        font-family: "Arvo" , 'san-serif';
    
    #marg{
      padding: 600px;
    }
    
    /*Services PAGE*/
    .body-service { background-color: rgb(0, 45, 128); /* Set background color */
      color: white; /* Set text color to white for contrast */ }
      
    }
    
    hr{
      border: 2px solid;
      width: 33.3%;
      
      
    }
    .fontp{
      font-family: "Finlandica", sans-serif;
    }

    .Mont{
        font-family: "Montserrat", sans-serif;
    }


    @media (min-width: 313px){
      .bigger{
    width: 100%;
      height: 100%; 
      object-fit: fill;
    }
  }
  
  .Special-Elite{
      font-family: "Special Elite", system-ui;
  font-weight: 400;
  }

  .border{
border-radius: 50%;

  }


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

/**Services image*/


.star-wars:hover{

  animation: 5s linear infinite;

}

@keyframes star-wars{
from{
  transform: rotate(0deg) translateX(-20px) rotate(0deg);
}
to{
  transform: rotate(0deg) translateY(20px) rotate(0deg);
}
}





  
svg{
	height:100px;
	padding: 1rem;
  opacity:0.2;
  top:70%;
	left:50%;
  margin-top: 200px;
	transform:translate(-50%,-50%);
	position:relative;
}



    /** footer*/

    

.bg-layers {
    -webkit-animation: filter-animation 4s infinite;
    animation: filter-animation 4s infinite;
}

.bg-scale {
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-scale 8s infinite;
}
  
@-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(45deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg);
    }
}
  
@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(45deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
}

@keyframes filter-scale {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.4);
    }
    100% {
        transform:scale(.8);
    }
}


/* Contact Me*/
/* From Uiverse.io by Yaya12085 */ 

.form-container {
  max-width: 320px; 
  width: 100%;       
  border-radius: 0.75rem;
  background-color: rgb(0, 63, 197);
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgb(0, 0, 0);
  outline: 0;
  background-color: #FFFFFF;
  padding: 0.75rem 1rem;
}

.input-group input:focus {
  border-color: rgb(7, 7, 7);
}


.sign {
  display: block;
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  background-color: black;
}




