 
#pos{
    position: relative;
    bottom: 40px;
    }
    
      
      #nav-link{
        text-decoration: none;
        font-family: "Arvo" , 'san-serif';
    
    #marg{
      padding: 600px;
    }
    
    /*Services PAGE*/
    .body-service { background-color: rgb(0, 45, 128); /* Set background color */
      color: white; /* Set text color to white for contrast */ }
    }
    
    hr{
      border: 2px solid;
      width: 33.3%;
      
      
    }
    .fontp{
      font-family: "Finlandica", sans-serif;
    }

    /** footer*/

    
    Add to your stylesheet

.bg-layers {
    -webkit-animation: filter-animation 4s infinite;
    animation: filter-animation 4s infinite;
}

.bg-scale {
    -webkit-animation: filter-animation 8s infinite;
    animation: filter-scale 8s infinite;
}
  
@-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(45deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg);
    }
}
  
@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(45deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
}

@keyframes filter-scale {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.4);
    }
    100% {
        transform:scale(.8);
    }
}